<div class="row">
  <div class="col-md-4 well">

<fieldset>
    <legend>Editing status</legend>
</fieldset>

<%= render 'form' %>

</div></div>


<%= link_to 'Back', statuses_path, :class => 'btn btn-default' %>
<%= link_to 'Show', @status, :class => 'btn btn-primary' %> 