<div class="row">
  <div class="col-md-4 well">

<fieldset>
    <legend>New status</legend>
</fieldset>

<%= render 'form' %>

</div></div>

<%= link_to 'Back', statuses_path, :class => 'btn btn-default' %>
